header {
  display: flex;
  justify-content: space-between;
  background-color: #ffffe0;
  height: 80px;
}

button {
  border-radius: 10px;
  background-color: rgb(255, 196, 2);
  color: brown;
  font-weight: bold;
  border: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main div {
  border-radius: 30px;
  background-color: #ffffe0;
  width: 47%;
  box-sizing: border-box;
}

.card-div {
  width: 50%;
  box-sizing: border-box;
}

.card-img {
  background-size: cover;
  max-width: 100%;
  overflow: hidden;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

h3 {
  color: brown;
}
h4 {
  color: brown;
}

h1 {
  color: brown;
}

.last-div {
  border-radius: 6px;
  background-color: #ffffe0;
}

.last-div h2 {
  color: brown;
}

.last-div p {
  color: brown;
}
